fastapi
uvicorn

langchain
langchain-community
langchain-core

langchain-chroma

chromadb

sentence-transformers

ollama

pydantic
pydantic-settings

python-dotenv

tqdm

pytest

python-multipart

requests